Client.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Client" type="ClientType"/>
    <xs:complexType name="LayerType">
        <xs:sequence>
            <xs:element type="xs:string" name="Name"/>
            <xs:element type="xs:string" name="CreateFunction"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LayersType">
        <xs:sequence>
            <xs:element type="LayerType" name="Layer"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClientType">
        <xs:sequence>
            <xs:element type="xs:string" name="Name"/>
            <xs:element type="LayersType" name="Layers"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>